{% extends 'frontend.layout.app' %}

{% set title = 'Home' %}

{% block content %}
  <div class="jumbotron text-center">
    <h1>Adonis Framework !</h1>
    <p>MVC Framework for Node.js to write webapps with less code.</p>
  </div>

  <example></example>
{% endblock %}
