{% extends 'frontend.layout.app' %}

{% set title = 'Register' %}

{% block content %}
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      {# Register Panel VueJS Component #}
      <register-panel></register-panel>

    </div>
  </div>
{% endblock %}
